a {
  color: black; 
  text-decoration: none; 
}

a:hover {
  text-decoration: none; 
  font-weight: bold; 
  color: black; 
}

a:visited {
  text-decoration: none; 
  color: black; 
}

body { 
  background-color: #dfecea; 
  font-family: "Dosis", sans-serif; 
 }

h1 {
  font-family: "Anton", sans-serif; 
}

form {
  padding: 10px; 
}

.center {
  margin: auto;
  text-align: center; 
  width: 60%;
  padding: 10px;
}

.formfield textarea {
  vertical-align: middle; 
}
