<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/layout_style.css" rel="stylesheet" type="text/css" > 
    <title>Workout Planner</title>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/css/boostrap-responsive.css">
  </head>

  <body>
  
    <% if session[:id] %>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/workouts">Workouts</a></li>
        <li role="presentation"><a href="/exercises">Exercises</a></li>
        <li role="presentation"><a href="/logout">Log Out</a></li>
      </ul>
    <% end %> 

    <%= yield %>
    

  </body>
</html>
